<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/style.css">
  <title>ダウンロード画面</title>
</head>

<body>
  <div class="body-box">
    <br>
    <h1 class="center">ダウンロード</h1>
    <h2 class="center">分類が完了しました</h2>
    <a href="/downloadzip" class="reset flat inverted">ダウンロード</a>
    <br>
    <h2>分類結果</h2>
    <ul>
      <li>N700S {{sum_n700s}}/{{total_sum}}枚</li>
      <li>N700A {{sum_n700a}}/{{total_sum}}枚</li>
      <li>700 {{sum_700}}/{{total_sum}}枚</li>
    </ul>
    <a href="/back" class="center">戻る</a>
  </div>
</body>

</html>